



#caja1 {
    width: 1000px;
    height: 700px;
    border: 1px solid black;
}
#caja2{
    width: 800px;
    height: 460px;
    margin: 120px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black;
}

#cabecera{
    width: 1000px;
    height: 200px;
    border: 1px solid black;
}
#contenedor1{
    width: 900px;
    height: 600px;
    margin: 250px 50px 150px;
    border: 1px solid black;
}
#contenedor2{
    width: 900px;
    height: 600px;
    margin: 150px 50px;
    border: 1px solid black;
}
#contenedor3{
    width: 900px;
    height: 600px;
    margin: 150px 50px 150px;
    border: 1px solid black;
}

footer{
    width: 1000px;
    height: 150px;
    border: 1px solid black;
}