*{
    padding: 0px;
    margin: 0px;
}



#caja1 {
    width: 100%;
    height: 100%;
    background-color: #d8342b;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;

}
#franjaAzul{
    background-color: #245da8;
    height: 3%;
    width: 100%;
    position: absolute;
}
#franjaAzulinferior{
    background-color: #245da8;
    height: 3%;
    width: 100%;
    position: absolute;

    top: 97%;


}
#adorno{
    width: 20%;

    margin-top: 3%;
    position: absolute;

    left: 80%;


}
#adorno img{
    width: 100%;
}
#adorno2 {
    width: 20%;
    position: absolute;
    margin-top: 3%;
    right: 80%;


}
#adorno2 img{
    width: 100%;
}
#caja2{
    width: 60%;
    height: auto;
    margin: 3% 20%;
    position: absolute;
    border: 1px solid black;
    border-radius: 20px 20px;

}
#caja2 img{

    width: 100%;
    height: 100%;
    border-radius: 20px 20px;
}


#cabecera{
    width: 1000px;
    height: 200px;
    border: 1px solid black;


}
#contenedor1{
    width: 900px;
    height: 600px;
    margin: 250px 50px 150px;

}
#contenedor1 img{
    width: 100%;
    height: 100%;
}
#contenedor2{
    width: 900px;
    height: 600px;
    margin: 150px 50px;
    border: 1px solid black;
    border-radius: 20px 20px;
}
#contenedor2 iframe{
    border-radius: 10px 10px;
}
#contenedor3{
    width: 900px;
    height: 600px;
    margin: 150px 50px 150px;
    border: 1px solid black;
}

footer{
    width: 1000px;
    height: 150px;
    border: 1px solid black;
}